.customTooltip {
  color: var(--secondary-text);
  background-color: var(--blue-3);
  border: 1px solid var(--primary-border-color);
  padding: 1em;
}

.intro {
  margin-top: 0.5em;
  color: var(--custom-light-blue);
}
