.primaryButton {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--secondary-text);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
  
  &:hover {
    background-color: #85a1f4;
  }
}

.secondary {
  background-color: var(--blue-5);
}

@media (min-width: 1024px) {
  .primaryButton {
    font-size: 1rem;
    padding: .75em 1em;
  }
}
