.toolInfoCard {
  background-color: #fff;
  text-align: center;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  .title {
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
  }

  .moreInfo {
    margin: 1em 0 2em;
    font-size: 0.8rem;
  }

  .missingFieldWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    gap: 0.6em;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .toolInfoCard {
    padding: 2em;

    .title {
      font-size: 2rem;
    }

    .moreInfo {
      font-size: .85rem;
      text-align: left;
      margin: 1.2em 0 2em;
    }

    .missingFieldWrapper {
      place-content: center;
      gap: 0.6em;
    }
  }
}
