.header {
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.badgeWrapper {
  display: flex;
  color: #ffffff;
  margin: 1rem 0 1.625rem;
  gap: 0.5em;
}

.badge {
  display: flex;
  align-items: center;
  padding: 0.4em 1em;
  font-size: 0.875rem;
  border-radius: 10px;
  border: 1px solid var(--primary-border-color);
  color: var(--primary-text);
  cursor: pointer;
}

.active {
  background: var(--primary-color);
  color: var(--secondary-text);
  border: none;
}


@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 1em;
    font-size: 2rem;
  }

  .badge {
    padding: 0.4em 1em;
  }

}
